/* default css */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* basic css */
.container {
    max-width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.col-md-4 {
    flex-basis: 33%;
}
.col-md-6 {
    flex-basis: 48%;
}
.text-center {
    text-align: center;
}
.section-pad {
    padding: 30px 0px;
}

/* style css */
/* login area css */
.title{
    color: cyan;
    font-size: 34px;
    text-shadow: 3px 2px 2px #00ccbf;
    text-transform: capitalize;
}
.basic-box-style {
    padding: 20px 40px;
    margin: 0px 15px;
    border-radius: 10px;
    color: #ffffff;
}
.submit-area {
    box-shadow:2px 4px 19px 11px #d1d1d1;
    padding: 30px;
    border-radius: 10px;
}
.submit-area input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom-style: groove;
    outline: 0;
    font-style: italic;
}
.submit-area h4{
    font-size: 30px;
    margin-left: 10px;
}
.btn {
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 10px;
    background: #00ffef;
    border: none;
    border-radius: 5px;
    transition: .5s;
    font-size: 15px;
    color: #ffffff;
    outline: 0;
}
.btn:hover {
    background: #00ccbf;
    transition: .5s;
}
#transaction-area {
    display: none;
}

/* transaction area css */
.deposit {
    background: blue;
}
.withdraw {
    background: orangered;
}
.balance {
    background: limegreen;
}

/* responsive css */
@media only screen and (max-width: 780px) {
    .row {
        display: block;
    }
    .col-md-4, .col-md-6 {
        margin: 25px 0px;
    }
}